{{set . "title" "LogIn"}}
{{append . "moreStyles" "css/register.css"}}
{{template "header.html" .}}

{{with .flash.error}}
    <div class="errordisp">
    	{{.}}
    </div>
{{end}}

<form action="{{url "Account.PostLogin"}}" method="POST">
	{{with $field := field "loginuser.Email" .}}
		<div class="control-group {{$field.ErrorClass}}">
		    <label class="control-label" for="{{$field.Id}}">Email</label>
		    <div class="controls">
		    	<input type="email" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" 
		    	       placeholder="name@mail.com" pattern="^([\w\.\_]{2,10})@(\w{1,}).([a-z]{2,4})$"
		    	       required
		    	/>
		    </div>

		    {{if $field.Error}}
		        <span class="help-inline">{{$field.Error}}</span>
		    {{end}}
			
		</div>
    {{end}}

    {{with $field := field "loginuser.Password" .}}
		<div class="control-group {{$field.ErrorClass}}">
		    <label class="control-label" for="{{$field.Id}}">Password</label>
		    <div class="controls">
		    	<input type="text" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" 
		    	       pattern="^[\x01-\xfe]{8,20}$"
		    	       required
		    	/>
		    </div>

		    {{if $field.Error}}
		        <span class="help-inline">{{$field.Error}}</span>
		    {{end}}
			
		</div>
    {{end}}

    <input type="submit" name="login" class="login" id="tologin" value="Login"> 

    <a href="{{url "Account.Register"}}">Register</a>

</form>

{{template "footer.html" .}}